<% if current_user.questions.any? %>
  <ul>
    <% current_user.questions.each do |question| %>
      <li> <%= link_to question.question, user_question_path(current_user, question) %> </li>
    <% end %>
  </ul>
<% else %>
  <h2>You have not asked any questions!</h2>
<% end %>

<p> <%= link_to "Ask a Question", new_user_question_path(current_user) %> </p>

<p><%= link_to "All Questions", questions_path %></p>
